body{
    display: flex;
    justify-content: center;
    background-color: rgb(229, 237, 238);
}



#main-flex{
    border: 1px solid black;
    display: flex;
    flex-flow:column wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    flex-basis:15rem;
    max-width:35rem;
    flex:1;
    

}
li:hover{
    cursor: pointer;
}
li{
    margin:1rem;
}
#header{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
#modal-flex{
    border:1px solid black;
    display: flex;
    flex-flow:row wrap;
    align-items: center;
    flex:1;
    padding:5%;
}
h1{
    color:rgb(79, 67, 49)
}
p{
    color: rgb(79, 67, 49);
}
#hburg-flex{
    display: flex;
    flex-flow: column;
    justify-content: center;

}
#hburg-flex:hover{
    cursor: pointer;
}
.hburg{
    display: block;
    width:20px;
    height:4px;
    background-color: black;
    margin:2px;
    align-self: flex-end;
}
#about{
    display: none;
}
@media(max-width: 600px){
    h1{
        font-size: medium;
    }
}