
body{
    display: flex;
    justify-content: center;
    background-color: rgb(236, 212, 224);
    color:rgb(178, 170, 86);
    font-family:Open sans;
}
#right-resize-button{
    display:none;
}

#main-flex{
    display: flex;
    flex-flow:column wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    flex:1;
    margin-top: 10%;
}
#header li:active{
    color:bisque;
}
#header li:hover{
    cursor: pointer;
}
#header li{
    color: rgb(138, 114, 105);
    margin: 5%;
}
#header{
    display:flex;
    justify-content: flex-end;
    background-color: rgb(236, 212, 224);
    border-bottom: 2px solid rgb(176, 173, 114);
    max-height:3rem;
    width:20rem;
}
#links-container{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
#hburg-flex{
    display: flex;
    flex-flow: column;
}
#hburg-flex:hover{
    cursor: pointer;
}
.hburg{
    display: block;
    width:20px;
    height:1.5px;
    border:2px solid rgb(142, 132, 64);
    background-color: rgba(236, 212, 224, 0);
    margin:1px;
    align-self: center;
}
#links-menu{
    display:none;
    z-index: 2;
    position:absolute;
    top:0;
    margin-top:20%;
}
.link{
    margin-top:-3%;
    margin-right:5%;
    height:1rem;
}
.link p{
    color:rgb(162, 151, 82);
    line-height:0;
    font-size:14;
}
.link:hover{
    cursor: pointer;
}
#colors-button:hover{
    cursor: pointer;
}
#modal-flex{
    display: flex;
    flex-flow:row wrap;
    align-items: center;
    z-index: 1;
    flex:1;
    padding:1%; 
    margin-bottom:20%
}
.modal-page{
    display:none;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
h1{
    color:rgb(195, 155, 187);
    font-family:Tilt Prism;
    font-size: 50px;
}
ul{
    text-align: left;
    line-height: 2em;
}

p{
    color: rgb(177, 173, 90);
    font-size: 18px;
    line-height: 1.5rem;
}
a{
    text-decoration: none;
    color:rgb(105, 93, 78);
}
#home{
    display:flex;
    flex-flow:column;
    padding:5%;
    margin: auto;
}
#about{
    display: none;
    flex-flow:column;
    margin: auto;
}
#about li{
    list-style: none;
    color: rgba(177, 173, 90, 0.716);
    font-size:22px;
}
.about-section:hover{
    cursor: pointer;
}
#about-box{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.about-section{
    display:flex;
    background-color: rgba(171, 159, 182, 0.18);
    justify-content: center;
    border-radius: 20%;
    line-height: 4;
    width:7rem;
    height:5rem;
    margin:7% 5%;
    padding:2%;
}
.about-section:active{
    background-color: rgba(171, 159, 182, 0.593);
}
.back{
    color:rgb(166, 157, 145);
}
.back:hover{
    cursor: pointer;
}
#life{
    padding:0 10%;
    display:none
}
#work{
    padding:0 10%;
    display:none;
}
#development{
    padding:0 10%;
    display:none;
}
#hobbies{
    padding:0 10%;
    display:none;
}
#works{
    flex-flow:column wrap;
    display:none;
    justify-content: center;
}
#works-head{
    display:flex;
    flex-flow: column wrap;
    align-items: center;
    font-size: 20px;
    padding:10%;
    line-height: 2rem;
    flex:1;
}
#works-carousel{
    display:flex;
    flex-flow: row wrap;
    align-items: center;
}
#buttons{
    display:flex;
    flex-flow: row wrap;
    margin-bottom:2%;
    width:18rem;
    justify-content: space-between;
}

button{
    display: block;
    width: 2rem;
    height: 1.5rem;
    border-radius: 40%;
    font-size:4rem;
    font-weight:700;
    border:none;
    background-color: rgba(151, 146, 155, 0.244);
}
.carousel-button h2{
    line-height:0px;
    font-size:25px;
    text-align:center;
    color: rgba(152, 142, 75, 0.639);
}
button:active{
    background-color: rgba(54, 51, 56, 0.586);
}
.small-button{
    display:none;
}
.big-button{
    width:4rem;
    height:3rem;
    margin-top:-15%;

}
#works-body{
    display:flex;
    justify-content: center;
    margin: auto;
}

.carousel-img{
    display:none;
    width:20rem;
    height:20rem;
    box-shadow: 2px 2px 1rem;
    border-radius: 4%;
    color:rgba(58, 55, 60, 0.44);
    object-fit: contain;
    background-color: rgba(178, 174, 182, 0.244);
    padding: 3%;
}
.carousel-img:first-of-type{
    display:block
}
#projects{
    display:none;
}
.project-display{
    display:none;
}
.project-display img{
    object-fit: contain;
    width:15rem;
    height:15rem;
    box-shadow: 2px 2px 1rem;
    color:rgba(58, 55, 60, 0.44);
    border-radius: 4%;
    background-color: rgba(178, 174, 182, 0.244);
    padding: 3% 3%;
}
.project-display:first-of-type{
    display:block;
}
#colors{
    margin:auto;
    align-items: center;
    display: none;
}
#button-container{
    display:flex;
}
#blue{
    background-color:rgba(90, 90, 134);
}
#blue:active{
    background-color:rgb(146, 142, 145);
}
#grey{
    background-color: rgb(79, 82, 99);
}
#grey:active{
    background-color:rgb(146, 142, 145);
}
#pink{
    background-color:rgb(236, 212, 224);
}
#pink:active{
    background-color:rgb(146, 142, 145);
}
#teal{
    background-color: rgba(9, 109, 109, 0.506);
}
#teal:active{
    background-color:rgb(146, 142, 145);
}
#white{
    background-color: rgb(233, 230, 220);
}
#white:active{
    background-color:rgb(146, 142, 145);
}



@media(max-width: 550px){
    h1{
        font-size: 37px;
    }
    h4{
        font-size: 45px;
        margin-bottom: 0;
    }
    #modal-flex{
        padding:1%;
        justify-content: center;
        flex:1;
        margin-top:50%
    }
    #header{
        flex-flow:row;
        border-top: 2px solid rgb(176, 173, 114);
        border-bottom:none;
        justify-content: space-between;
        height:3rem;
        width:100%;
        padding-bottom: 4%;
        margin: auto;
        position: fixed;
        bottom:0;
        z-index: 2;
    }
    #hburg-flex{
        margin-right:50%;
    }
    #links-menu{
        position:absolute;
        bottom:0;
        right:1%;
        margin-top:-33%;
    }
    .link{
        margin-right:10%;
        height:1.4rem;
    }
    #header li{
        line-height: 200%;
        border-right: 1px solid rgba(192, 161, 82, 0.461);
        padding-right:7%;
        margin: auto;
        font-size: 14px;
    }
    #main-flex{
        flex-flow:row-reverse wrap;
    }    
    .link p{
        font-size: 15px;
    }
    #about li{
        font-size:20px;
    }
    #works{
        margin-top:-10%;
    }
    button{
        margin:5%;
    }
    .small-button{
        display:block;
        width:4rem;
        height:2.5rem;
    }
    .big-button{
        display:none;
    }
    #works-body{
        flex-flow:column wrap;
    }
    #right-resize-button{
        display:block;
    }
    .carousel-img{
        border-radius: 4px;
        object-position: center;
        min-width:16rem;
        width:18rem;
        align-items: center;
    }
}

