#stage-flex{
    display:flex;
    flex-flow: column;
    flex:2;
}
#inv-button:hover{
    cursor: pointer;
}
.move-button:hover{
    cursor: pointer;
}
#menu-flex{
    position: absolute;
    bottom:0;
    display:flex;
    width:100%;
    justify-content: space-around;
}
#inv-container{
    display:flex;
    flex-flow:column;
}
#inv-list{
    display:flex;
    flex-flow: column wrap;
}
.inv-item:hover{
    cursor: pointer;
}
#win{
    display: none;
}
#gate-stage{
    display: flex;
}
.stage{
    display: none;
    justify-content: center;
}
.popup{
    display: none;
    z-index:2;
    background-color: white;

}
.special{
    display:none;
}
.cave{
    display:none;
}
img{
    object-fit: contain;
    height:20rem;
    margin-bottom: 5%;

    margin:auto;
}
#cave-bkgd{
    padding: 1%;
    width:10rem;
    height:10rem
}
#dennis{
    display: block;
    position:absolute;
    bottom:10%;
    z-index: 2;

}
#shish-kebab-img{
    position: absolute;
    bottom:10rem;
    left:10rem;
    height:5rem;
}
#shish-kebab-img:hover{
    cursor: pointer;
}
#dennis:hover{
    cursor: pointer;
}